<!--月遷移-->
<div class="contextual">
	<a id="applyOperatingRatioDownMonth" href="javascript:void(0)" class="icon icon-arrow-left" title="1 <%= t :months_ago %>">&#8203;</a>
	<a id="applyOperatingRatioThisMonth" href="javascript:void(0)" class="icon icon-calendar" title="<%= t :jump_this_month %>">&#8203;</a>
	<a id="applyOperatingRatioUpMonth" href="javascript:void(0)" class="icon icon-arrow-right" title="1 <%= t :months_later %>">&#8203;</a>
</div>

<!--タイトル-->
<h2>
	<%= @user[:textMonth] %><%= t :is_operate %>
	<b id="bsubtitle" class="bsubtitle">（<%= t :estimated %>）</b>
</h2>		

<%= stylesheet_link_tag 'gage', :plugin => 'operating_ratio', :media => 'all' %>
<%= javascript_include_tag 'gage', :plugin => 'operating_ratio', :media => 'all' %>
<%= javascript_include_tag 'justgage', :plugin => 'operating_ratio', :media => 'all' %>
<%= javascript_include_tag 'raphael', :plugin => 'operating_ratio', :media => 'all' %>

<!--インプット-->
<div id="input">
	<b class="gage-menu-button button button-2 icon icon-projects">
	1<%= t :person_day %>＝<%= @user[:flagHour] %>ｈ<!--1人日-->
	</b>
	<!--予定-->
	<a class="gage-menu-button button button-2 icon icon-fav" url="javascript:void(0)" id="button_estimated" href="javascript:void(0)"><%= t :button_estimated %></a>
	<!--実績-->
	<a class="gage-menu-button button button-2 icon icon-fav-off" url="javascript:void(0)" id="button_spent" href="javascript:void(0)"><%= t :button_spent %></a>

	<!--全プロジェクト横断予定-->
	<a class="gage-menu-button button button-2 icon icon-fav-off" url="javascript:void(0)" id="button_all_estimated" href="javascript:void(0)"><%= t :button_all_estimated %></a>
	<!--全プロジェクト横断実績-->
	<a class="gage-menu-button button button-2 icon icon-fav-off" url="javascript:void(0)" id="button_all_spent" href="javascript:void(0)"><%= t :button_all_spent %></a>
	
	<br>
	<br>
	<form id="query_form">
		<div id="query_form_content">
			<fieldset id="filters" class="collapsible">
				<legend onclick="gageFilters();"><%= t :button_filter %></legend><!--フィルタ-->
				<br>
				<div id="gage-filter-box" style="">
					<select id="m" name="m" class="m">
						<option value="<%= @user[:flagMonth] %>" <%= @user[:flm_selected_d] %> >-</option>
						<option value="0" <%= @user[:flm_selected_0] %> ><%= t :last_month %></option><!--先月-->
						<option value="1" <%= @user[:flm_selected_1] %> ><%= t :this_month %></option><!--今月-->
						<option value="2" <%= @user[:flm_selected_2] %> ><%= t :next_month %></option><!--来月-->
					</select>
					<br>
					1<%= t :person_day %>＝
					<select id="h" name="h" class="h">
						<option value="<%= @user[:flagHour] %>" <%= @user[:flh_selected_d] %> >-</option>
						<option value="6" <%= @user[:flh_selected_6] %> >6</option>
						<option value="7" <%= @user[:flh_selected_7] %> >7</option>
						<option value="8" <%= @user[:flh_selected_8] %> >8</option>
					</select>
					ｈ
				</div>
			</fieldset>
			<p class="buttons">
				<a id="applyOperatingRatioQuery" href="javascript:void(0)" class="icon icon-checked"><%= t :button_apply %></a><!--適用-->
			</p>
		</div>
	</form>
	<hr>
	<br>
</div>

<!--アウトプット-->
<div id="output">
	<div>
		<div id="gauge" class="boxContainer">
		</div>
	</div>
</div>

<script type="text/javascript">
//初回読み込み時
  var csv_output = "";
  gauge_output("estimated_hours"); 
  
//フィルタ適用クリック
  $('#applyOperatingRatioQuery').on('click',function(){
     var OperatingRatio_m = $('#query_form [name=m]').val();
     var OperatingRatio_h = $('#query_form [name=h]').val();
	 window.location.href = '<%= @user[:path] %>gage/' + OperatingRatio_m + '/' + OperatingRatio_h;
  });

//前の月クリック
  $('#applyOperatingRatioDownMonth').on('click',function(){
     var OperatingRatio_m = <%= @user[:flagMonth] %>-1;
     var OperatingRatio_h = <%= @user[:flagHour] %>;
	 window.location.href = '<%= @user[:path] %>gage/' + OperatingRatio_m + '/' + OperatingRatio_h;
  });

//今月クリック
  $('#applyOperatingRatioThisMonth').on('click',function(){
     var OperatingRatio_m = 1;
     var OperatingRatio_h = <%= @user[:flagHour] %>;
	 window.location.href = '<%= @user[:path] %>gage/' + OperatingRatio_m + '/' + OperatingRatio_h;
  });

//次の月クリック
  $('#applyOperatingRatioUpMonth').on('click',function(){
     var OperatingRatio_m = <%= @user[:flagMonth] %>+1;
     var OperatingRatio_h = <%= @user[:flagHour] %>;
	 window.location.href = '<%= @user[:path] %>gage/' + OperatingRatio_m + '/' + OperatingRatio_h;
  });
  
//予定工数クリック
  $('#button_estimated').on('click',function(){
	$('#button_estimated').removeClass('icon-fav-off icon-fav');
	$('#button_spent').removeClass('icon-fav-off icon-fav');
	$('#button_all_estimated').removeClass('icon-fav-off icon-fav');
	$('#button_all_spent').removeClass('icon-fav-off icon-fav');
	$('#button_estimated').addClass('icon-fav');
	$('#button_spent').addClass('icon-fav-off');
	$('#button_all_estimated').addClass('icon-fav-off');
	$('#button_all_spent').addClass('icon-fav-off');
	$('#bsubtitle').text('（<%= t :estimated %>）');
	gauge_output("estimated_hours");
  });
  
//実績作業時間クリック
  $('#button_spent').on('click',function(){
	$('#button_estimated').removeClass('icon-fav-off icon-fav');
	$('#button_spent').removeClass('icon-fav-off icon-fav');
	$('#button_all_estimated').removeClass('icon-fav-off icon-fav');
	$('#button_all_spent').removeClass('icon-fav-off icon-fav');
	$('#button_estimated').addClass('icon-fav-off');
	$('#button_spent').addClass('icon-fav');
	$('#button_all_estimated').addClass('icon-fav-off');
	$('#button_all_spent').addClass('icon-fav-off');
	$('#bsubtitle').text('（<%= t :spent %>）');
	gauge_output("spent_hours");
  }); 
  
//全プロジェクト横断予定工数クリック
  $('#button_all_estimated').on('click',function(){
	$('#button_estimated').removeClass('icon-fav-off icon-fav');
	$('#button_spent').removeClass('icon-fav-off icon-fav');
	$('#button_all_estimated').removeClass('icon-fav-off icon-fav');
	$('#button_all_spent').removeClass('icon-fav-off icon-fav');
	$('#button_estimated').addClass('icon-fav-off');
	$('#button_spent').addClass('icon-fav-off');
	$('#button_all_estimated').addClass('icon-fav');
	$('#button_all_spent').addClass('icon-fav-off');
	$('#bsubtitle').text('（<%= t :all_estimated %>）');
	gauge_output("estimated_hours","all");
  });
  
//全プロジェクト横断実績作業時間クリック
  $('#button_all_spent').on('click',function(){
	$('#button_estimated').removeClass('icon-fav-off icon-fav');
	$('#button_spent').removeClass('icon-fav-off icon-fav');
	$('#button_all_estimated').removeClass('icon-fav-off icon-fav');
	$('#button_all_spent').removeClass('icon-fav-off icon-fav');
	$('#button_estimated').addClass('icon-fav-off');
	$('#button_spent').addClass('icon-fav-off');
	$('#button_all_estimated').addClass('icon-fav-off');
	$('#button_all_spent').addClass('icon-fav');
	$('#bsubtitle').text('（<%= t :all_spent %>）');
	gauge_output("spent_hours","all");
  }); 
  
//フィルタークリック
  function gageFilters(){
	var disp = $('#gage-filter-box').css('display'); 
	if(disp == 'block'){
		$('#gage-filter-box').css('display', 'none');
		$('#filters').addClass('collapsed');
	} else {
		$('#gage-filter-box').css('display', 'block');
		$('#filters').removeClass('collapsed');
	}
  }  
  
//稼働率ゲージ出力
  function gauge_output(set_hour,set_data) {
    if (!set_hour) {
        set_hour = 'estimated_hours';
    }
    if (!set_data) {
        set_data = 'data';
    }
	$('#gauge').html('');
	try{//データ取得
		csv_output = "assignee," + set_hour + ",ratio" + '\r\n';
		$.getJSON("<%= @user[:path] %>gage/" + set_data + ".json/<%= @user[:flagMonth] %>", function(data) {
			var list = data.groupBy(["assignee"],[set_hour]);
			var count = 0;
			if(Object.keys(list).length > 0){
				Object.keys(list).forEach(function(key) {
					if(list[key]["assignee"]){
						var div = $('<div id="' + key + '" class="pbox"></div>');
						$("#gauge").append(div);
						var gageval = Number(list[key][set_hour])/(<%= @user[:flagHour] %>*20)*100;
						new JustGage({
							id: key,
							value: gageval,
							min: 0,
							max: 100,
							title: list[key]["assignee"]+"("+list[key][set_hour]+")h",
							label: "％"
						});
						csv_output += list[key]["assignee"] + "," + list[key][set_hour] + "," + gageval + '\r\n';
						count++;
					};
				});
				if(count==0){//アサインされたデータがない場合
					$('#gauge').html('<%= t :no_assign %>');
				}else{
					var div = $('<div id="csvdata" class="pbox">' +
						'<div id="csvdownload">' +
						'<a id="download" href="#"　download="OperatingRatio.csv" onclick="handleDownload();">' +
						'csv_download' + 
						'</a>' +
						'</div>' +
						'</div>');
					$("#gauge").append(div);
				};
			}else{//データがない場合
				$('#gauge').html('<%= t :no_data %>');
			};
		});
	}catch(e){//データ取得失敗時
		$('#gauge').html('<%= t :data_failed %>');
		console.log(e);
	}finally{
		console.log("OK");
	}
  }
  
//CSV出力 
  function handleDownload() {
    var link = document.createElement('a');
	var content = csv_output;
	var csvName = "OperatingRatio.csv";
    var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);
    var blob = new Blob([ bom, content ], { "type" : "text/csv" });

	if (window.navigator.msSaveOrOpenBlob) {
		// for ie
		window.navigator.msSaveOrOpenBlob(blob, csvName);
	} else if (window.webkitURL && window.webkitURL.createObjectURL) {
		// for chrome (and safari)
		link.setAttribute('download', csvName);
		link.setAttribute('href', window.webkitURL.createObjectURL(blob));
		link.click();
	} else if (window.URL && window.URL.createObjectURL) {
		// for firefox
		link.setAttribute('download', csvName);
		link.setAttribute('href', window.URL.createObjectURL(blob));
		link.click();
    } else if (window.navigator.msSaveBlob) { 
        // msSaveOrOpenBlob
        window.navigator.msSaveBlob(blob, csvName); 
        window.navigator.msSaveOrOpenBlob(blob, csvName); 
    } else {
        document.getElementById("download").href = window.URL.createObjectURL(blob);
    }
  }

</script>